<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Data Crawler v1.0</title>

  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/simple-sidebar.css" rel="stylesheet">
</head>

<body>
  <div id="wrapper" class="toggled">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="/">
                    DataCrawler v1
                </a>
            </li>
            <li>
                <a href="/">Dashboard</a>
            </li>
            <li>
                <a href="/jobs">Jobs</a>
            </li>
        </ul>
    </div>

<div id="page-content-wrapper">
  <div class="container-fluid">
    <h1>DataCrawler v1</h1>
    <hr>

    {{#if err}}
      <h4 style="color: red;">Something wrong happened!</h4>
      {{err}}
    {{/if}}

    <h2>Input files list</h2>
    <span>In <i>{{inputDir}}</i></span>
    <ul>
      {{#each inputs}}
        <li>{{this}}</li>
      {{/each}}
    </ul>

    <h2>Crawlers list</h2>
    <span>In <i>{{crawlerDir}}</i></span>
    <ul>
      {{#each crawlers}}
        <li><a href="/crawler-{{slug}}">{{name}}</a></li>
      {{/each}}
    </ul>

    <p style="padding-top: 50px; color: lightgray;">
      You need to restart the app each time you add a new crawler. No need to restart when just adding an input file.
    </p>
  </div>
</div>
</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
